/* RESPONSIVE DESIGN
    1.Grids
        We are going to use the 12 colum grid system. 
        We devide 1 by 12 and multiply by 100 to get the percentage of 1 column 
        1/12*100= 8.333333 ~ 8.3%
        
*/
*{
    box-sizing: border-box;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.nav {
    background: #cccccc;
    margin-bottom: 20px;
    padding: 10px;
}
.menu ul li {
    list-style-type: none;
    background: #cccccc;
    text-align: center;
    margin-left: -50px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px;
}

.main {
    float: left;
    width: 75%;
    padding-left: 10px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.footer {
    padding: 10px;
    background: #ccc;
    text-align: center;
    margin-top: 20px;
}

.clear {
    clear: left;
}

.img {
    background-image: url("/Images/201c.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-position: right; 
    
}

@media only screen and (max-width: 768px) {    /* Media query - max width of device. Up tp this max width the following will be done.  */
    /* For moblie phones: */                    /* Should also be done for all devices */
    [class*="col-"]{                            /* every column is now overwritten to be 100% instead of the previous width */
        width: 100%;
    }
}